@model IEnumerable<ToDoList.Models.ToDo>

<div id="toDoProgressBar">
    <div class="progress">
        <div class="progress-bar" role="progressbar" style="width:@(Html.AttributeEncode(ViewBag.Percent))%"></div>
    </div>
    <p>@(ViewBag.Percent)%</p>
</div>

<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @if (!item.IsDone)
                {
                    @Html.DisplayFor(modelItem => item.Description)
                }
                else
                {
                    <div class="CompletedToDo">@Html.DisplayFor(modelItem => item.Description)</div>
                }
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.IsDone, new { id = item.Id, @class = "ActiveCheck" })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Id, @class = "DeleteToDo" })
            </td>
        </tr>
    }

</table>

<script src="~/CustomScripts/AddCheckBoxList.js"></script>
